
/*Social Links*/

div#icons {
    float: right;
}

.header {
  background-color: d7d7d7;
}

header {
    color: f15e95;
    margin-right: 22px;
    margin-left: 22px;
}

/*Coming Soon*/
img.logo {
    width: 100%;
}

/*Footer*/

header {
  /*background-color: #d7d7d7;*/
  /*padding-top: 1%;*/
  padding-bottom: 0.5%;
  /*margin-top: 1rem;*/
}

#icons {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
img.icons-img {
  margin: 5px;
  height: 30px;
  width: 30px;
}
